@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
    font-family: 'Playfair Display', serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    background-image: url('fondo.avif');
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-height: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #e91e63; /* Color rosado */
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #333;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h1, h2, h3 {
    color: #e91e63; /* Color rosado */
}

.producto {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    transition: transform 0.3s, box-shadow 0.3s;
}

.producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
    color: #e91e63; /* Color rosado */
}

footer p {
    margin: 0;
}
